@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import "../../components/layout.scss";
.tutors-container {
  display: flex;
  font-family: "Oswald", sans-serif;
  height: 100vh;
  width: 100%;
  .search-filter {
    display: flex;
    padding: 2rem;
    width: $sidebar-width;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .search-box {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
      .header {
        margin: auto;
        margin-bottom: 1rem;
      }
      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
      }
      .apply-button {
        @include my-button;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(232, 229, 229);
        background-color: #164a4e;
        width: 100%;
      }
    }
  }
  .tutor-panel {
    display: flex;
    padding: 2rem;
    width: $sidebar-width;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
    .offer-form {
      width: 100%;
      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
      }
      .offer-button {
        @include my-button;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(232, 229, 229);
        background-color: #164a4e;
        width: 100%;
      }
    }
  }
}
