@import "../../components/layout.scss";
.tutors-container {
  display: flex;
  font-family: "Oswald", sans-serif;
  height: 100vh;
  width: 100%;
  // .right-panel {
  //   display: flex;
  //   // padding: 2rem;
  //   width: $sidebar-width;
  //   flex-direction: column;
  //   align-items: center;
  //   min-height: 100vh;
  //   overflow: auto;
  // }
  .search-filter {
    display: flex;
    padding: 2rem;
    width: $sidebar-width;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .search-box {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
      gap: 0.5rem;
      overflow: auto;
      .header {
        margin: auto;
        margin-bottom: 1rem;
      }
      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
        width: 100%;
      }
      .apply-button,
      .clear-button {
        @include my-button;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(232, 229, 229);
        background-color: #164a4e;
        width: 100%;
      }
      .clear-button {
        background-image: linear-gradient(#701a1a, #4e1616);
        &:hover {
          background-image: linear-gradient(#611919, #2e0f0f);
        }
      }
    }
  }
}
