@import "../components.scss";
.tutor-coaching-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
  width: 100%;
  .coaching-banner {
    .profile-picture {
      @include flexCenter;
      // img {
      //   border-radius: 50%;
      //   margin-bottom: 1rem;
      //   width: 140px;
      //   height: 140px;
      //   object-fit: cover;
      //   object-position: center;
      //   border-radius: 50%;
      // }
      position: relative;
      input {
        opacity: 0;
        position: absolute;
        height: 140px;
        width: 140px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        cursor: pointer;
      }
      // input:hover + .upload-image-icon {
      //   background-color: rgb(80, 80, 80);
      //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
      // }
      .upload-image-icon {
        @include flexCenter;
        background-color: rgb(36, 36, 36);
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        padding: 0.2rem;
        position: absolute;
        left: 10.5vw;
        top: 12.5vh;
        z-index: 0;
        transition: 0.5s;
        &:hover {
          background-color: rgb(90, 90, 90);
        }
      }
    }

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // align-items: center;
    img {
      margin: auto;
    }
    h3 {
      @include flexCenter;
    }
    .banner-details {
      // margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }
    .vbox {
      gap: 0.2rem;
    }
    .hbox {
      justify-content: space-between;
    }
  }
}
