@import "../../components/Containers/Layout.scss";
.coaching-container {
  display: flex;
  // flex-direction: column;
  font-family: "Oswald", sans-serif;
  height: 100vh;
  width: 100%;
  .mid-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: rgba(0, 0, 0, 0.12) solid 2px;
    .coaching-home {
      width: 100vw - 2 * $sidebar-width;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      .cover-photo {
        padding-bottom: 2rem;
        width: 90%;
        // height: 40vh;
        // box-shadow: 0 4px 2px -2px gray;
        // margin-bottom: 5vh;
      }
      .details {
        display: flex;
        flex-direction: column;
        // gap: 2rem;
        align-items: center;
      }
      .apply-button {
        @include my-button;
        // margin-top: 5vh;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(232, 229, 229);
        background-color: #164a4e;
        // width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

.coaching-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  .header {
    margin: auto;
    margin-bottom: 1rem;
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    gap: 1rem;
  }
  .apply-button {
    @include my-button;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    width: 100%;
    margin-bottom: 2rem;
  }
}

.nav-container {
  padding: 0 2rem;
  font-family: sans-serif;
  .nav-bar {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    // background-color: rgba(rgb(210, 210, 210), 0.3);
    width: 100%;
    padding-top: 0.8rem;
    // padding-bottom: 0;
    display: flex;
    // flex-wrap: wrap;
    // gap: 1.2vw;
    font-size: 1.3rem;
    // border-bottom: rgba(0, 0, 0, 0.12) solid 2px;
    list-style-type: none;
    box-shadow: inset 0px -3px 0px -1px rgba(0, 0, 0, 0.12);

    // 0px -11px 8px -10px

    .nav-bar-button {
      padding: 1rem;
      width: 12vw;
      transition: 0.5s;
      display: flex;
      justify-content: center;
      border: rgba(0, 0, 0, 0) solid 2px;
      border-bottom: 0;
      // border-bottom: rgba(0, 0, 0, 0.12) solid 2px;
      &:hover {
        background-color: rgb(240, 240, 240);
      }
      .nav-bar-link {
        font-weight: bold;
        font-size: 80%;
        // border-bottom: 0.25rem solid transparent;
        transition: border-bottom 0.5s;
        // z-index: 0;
        cursor: default;
        // padding: 1rem 0;
        color: #8a8a8a;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
          color: #595858;
        }
      }
    }
    .active-nav-bar-button {
      background-color: white;
      border: rgba(0, 0, 0, 0.12) solid 2px;
      border-bottom: 0;
      .nav-bar-link {
        color: #595858;
      }

      &:hover {
        background-color: white;
      }
    }
  }
}
