@import "../components.scss";
$sidebar-width: 21vw;
.layout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  .nav-bar {
  }
  .body {
    display: flex;
    flex-direction: row;

    
  }
}
