@import "../../components/Layout.scss";
@import "../../components/components.scss";
.list-container {
  width: 100vw - 2 * $sidebar-width;
  border-right: rgba(0, 0, 0, 0.12) solid 2px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    width: 100%;
    // min-height: 100%;
    overflow: auto;
  }
}

.my-course-container {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .search-input {
      align-items: center;
    }
  }
  display: flex;
  font-family: "Oswald", sans-serif;
  height: 100vh;
  width: 100%;
  .right-panel {
    display: flex;
    padding: 2rem;
    width: $sidebar-width;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
    .course-form {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
      .header {
        margin: auto;
        margin-bottom: 1rem;
      }
      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
        gap: 1rem;
      }
      .create-button {
        @include my-button;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(232, 229, 229);
        background-color: #164a4e;
        width: 100%;
      }
      .disabled-button {
        color: rgb(200, 200, 200);
        background-image: linear-gradient(#464a4d, #151616);
      }
    }
  }
}
.course-card {
  padding: 1.5rem;
  // height: 32vh;
  width: 16.5vw;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  gap: 0.3rem;
  background-image: linear-gradient(
    rgba(26, 72, 112, 0.9),
    rgba(22, 52, 78, 1)
  );
  border-radius: 10px;
  color: rgb(240, 240, 240);
  transition: 0.5s;
  img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    // position: 50%;
  }
  h5 {
    font-size: 1.1rem;
  }
  &:hover {
    background-image: linear-gradient(#194061, #0f202e);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // margin-top: -1rem;
    color: #fff;
  }
}
.student {
  height: 34vh;
}
.tutor {
  height: 19vh;
  cursor: pointer;
}
.active-course-card {
  padding: 1.5rem;
  height: 32vh;
  width: 16.5vw;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  gap: 0.3rem;
  background-image: linear-gradient(
    rgba(26, 72, 112, 0.9),
    rgba(22, 52, 78, 1)
  );
  border-radius: 10px;
  color: rgb(240, 240, 240);
  transition: 0.5s;
  margin-top: -1rem;
  img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  h5 {
    font-size: 1.1rem;
  }
  &:hover {
    background-image: linear-gradient(#194061, #0f202e);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
  }
}
