@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import "../../components/components.scss";
@import "../../components/layout.scss";
.profile-container {
  // background-color: #f8f8f8;
  display: flex;
  // position: relative;
  font-family: "Oswald", sans-serif;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  width: 100%;
  // padding-left: 15vw;
  // padding-top: 9vh;
  .profile-card {
    // background-color: #fff
    overflow: hidden;
    width: $sidebar-width;
    // height: 100vh;
    padding: 2rem;
    padding-top: 3.3rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    // height: 91vh;
    .profile-banner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-picture {
        img {
          border-radius: 50%;
          margin-bottom: 1rem;
          width: 140px;
          height: 140px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          // &:hover {
          //   box-shadow: #164a4e;
          // }
        }
        input {
          opacity: 0;
          position: absolute;
          height: 140px;
          width: 140px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          z-index: 1;
          cursor: pointer;
          // &:hover {
          //   box-shadow: #164a4e;
          // }
        }
        input:hover + .upload-image-icon {
          background-color: rgb(80, 80, 80);
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
        .upload-image-icon {
          @include flexCenter;
          background-color: rgb(36, 36, 36);
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          padding: 0.2rem;
          position: absolute;
          right: 23%;
          bottom: 33%;
          z-index: 0;
          transition: 0.5s;
          &:hover {
            background-color: rgb(90, 90, 90);
          }
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5%;
    }
    .password-change {
      // padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      .header {
        font-size: x-large;
      }
      .input-fields {
        padding-bottom: 1.5rem;
        padding-top: 1rem;
      }
      .change-button {
        width: 100%;
      }
    }
  }
  .profile-details {
    border-right: rgba(0, 0, 0, 0.12) solid 2px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw - 2 * $sidebar-width;
    .header {
      // margin-bottom: 1rem;
    }
    .input-fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
    }
  }
  .save-button {
    @include my-button;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    width: 16vw;
  }
}
