// .schedule-card {
//   display: flex;
//   padding: 0.7rem 0;
//   //   flex-direction: column;

//   align-items: center;
//   //   justify-content: center;
//   .content {
//     gap: 0.8rem;
//   }
//   .time-card {
//     display: flex;
//     align-items: center;
//     background-image: linear-gradient(
//       rgba(26, 72, 112, 0.9),
//       rgba(22, 52, 78, 1)
//     );
//     border-radius: 0 30px 30px 0;
//     color: white;
//     padding: 0.9rem;
//     width: 10vw;
//     h6 {
//       font-size: 0.8rem;
//       margin-bottom: 0;
//     }
//   }
// }

.schedule-card {
  cursor: pointer;
  height: 9vh;
  display: flex;
  border-radius: 5px;
  padding: 0.7rem;
  color: white;
  background-image: linear-gradient(
    rgba(26, 72, 112, 0.9),
    rgba(22, 52, 78, 1)
  );
  transition: 1s;
  .content {
    width: 100%;
    align-items: center;
    .very-small-image {
    }
    .schedule-details {
      display: flex;
      gap: 0.2rem;
      width: 100%;
      .name {
        font-size: 0.8rem;
      }
      .subjects {
        font-size: 0.7rem;
      }
      .time-range {
        font-size: 0.7rem;
      }
      h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 110px;
        margin: 0;
      }
    }
  }
}

.schedule-card:hover {
  // cursor: pointer;
  min-height: 20vh;
  // display: flex;
  // border-radius: 5px;
  padding: 1rem;
  // color: white;
  // background-image: linear-gradient(#194061, #0f202e);
  transform: translateY(-55%);
  .content {
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-items: center;
    .very-small-image {
      min-width: 60px;
      min-height: 60px;
      width: 60px;
      height: 60px;
    }
    .schedule-details {
      display: flex;
      gap: 0.4rem;
      width: 100%;
      .name {
        font-size: 1rem;
      }
      .subjects {
        font-size: 0.9rem;
      }
      .time-range {
        font-size: 0.9rem;
      }
      h6 {
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        width: 100%;
        margin: 0;
        text-align: center;
        // font-size: 2rem;
      }
    }
  }
}
