@import "./Layout.scss";
.coaching-panel {
  display: flex;
  padding: 2rem;
  width: $sidebar-width;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
  .join-button {
    @include my-button;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    width: 100%;
  }
  .profile-banner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // align-items: center;
    img {
      margin: auto;
    }
    h3 {
      @include flexCenter;
    }
    h6 {
      margin-bottom: 0;
    }
    .banner-details {
      // margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }
    .vbox {
      gap: 0.2rem;
    }
    .hbox {
      justify-content: space-between;
    }
    .rating {
      @include flexCenter;
    }
  }
}
