@import "../images.scss";
@import "./variables.scss";
$bg-color: grey;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  height: 100vh;
  background-image: url("../assets/images/" + $background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .bg-logo {
    // transform: scale(0) translate3d(0, -2000px, 0);
    // animation: flyIn 3s ease-out forwards;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background: transparent;
  }
  .bg-spark {
    animation: fadeInOut 0.8s infinite alternate;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background: transparent;
  }
  @keyframes flyIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes fadeInOut {
    from {
      opacity: 0.2;
    }
  }
}

.sidebar-container {
  // background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: fixed;
  left: 0;
  z-index: 1;
  height: 100vh;
  // align-items: left;
  width: 20vw;
  gap: 1rem;
  padding-left: 1rem;
  .sidebar-button {
    // font-weight: bold;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    // align-items: left;
    text-align: left;
    // text-decoration: none;
    border-radius: 5px 0 0 5px;
    color: aliceblue;
    transition: 0.3s;
    &:hover {
      background-color: #f8f8f8;
      color: black;
      // text-decoration-color: grey;
    }
  }
}

@mixin my-button {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: rgb(232, 229, 229);
  background-image: linear-gradient(#1a4870, #16344e);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  min-width: 16vw;
  &:hover {
    // box-shadow: 0px 3px 1px -5px rgba(0, 0, 0, 0.5),
    //   0px 5px 5px -10px rgba(0, 0, 0, 0.14), 0px 3px 7px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-image: linear-gradient(#194061, #0f202e);
    cursor: pointer;
  }
}

.my-text {
  font-family: sans-serif;
  font-weight: 500;
}

.my-text-header {
  font-family: "Oswald", sans-serif;
}
.hbox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.vbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tution-post,
.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  padding: 1.5rem;
  gap: 1rem;
  // padding-bottom: 0;
  // background-image: linear-gradient(
  //   rgba(26, 72, 112, 0.9),
  //   rgba(22, 52, 78, 1)
  // );
  // border-radius: 10px;
  color: black;
  transition: 0.5s;
  border-bottom: rgba(0, 0, 0, 0.12) solid 2px;
  h6 {
    font-size: 1.1rem;
  }
  .hbox {
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
  }
  .apply-button,
  .cancel-apply-button {
    @include my-button;
    // margin: 0 auto;
    // margin-left: auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    // width: 100%;
  }
  .cancel-apply-button {
    background-image: linear-gradient(#701a1a, #4e1616);
    &:hover {
      background-image: linear-gradient(#611919, #2e0f0f);
    }
  }
  .time-stamp {
    color: grey;
    font-family: sans-serif;
    margin: auto 0;
    font-size: 0.9rem;
  }
  // &:hover {
  //   background-image: linear-gradient(#194061, #0f202e);
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  //   // margin-top: -1rem;
  //   color: #fff;
  // }
}

// .input-fields {
//   display: flex;
//   gap: 1rem;
//   flex-direction: column;
//   align-items: center;
//   padding: 1rem 0;
//   width: 100%;
// }

.search-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  .search-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    gap: 0.5rem;
    overflow: auto;
    .header {
      margin: auto;
      margin-bottom: 1rem;
    }
    .input-fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      gap: 1rem;
      width: 100%;
    }
    .apply-button,
    .clear-button {
      @include my-button;
      margin: 0 auto;
      font-size: 2rem;
      color: rgb(232, 229, 229);
      background-color: #164a4e;
      width: 100%;
    }
    .clear-button {
      background-image: linear-gradient(#701a1a, #4e1616);
      &:hover {
        background-image: linear-gradient(#611919, #2e0f0f);
      }
    }
  }
}

.full-width {
  width: 100%;
}

.standard-button-width {
  width: 16vw;
}

.horizontal-center {
  margin: 0 auto;
}

.blue-button,
.red-button,
.green-button {
  font-family: "Oswald", sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: rgb(232, 229, 229);
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}
.blue-button {
  background-image: linear-gradient(#1a4870, #16344e);
  &:hover {
    background-image: linear-gradient(#194061, #0f202e);
  }
}

.red-button {
  background-image: linear-gradient(#701a1a, #4e1616);
  &:hover {
    background-image: linear-gradient(#611919, #2e0f0f);
  }
}

.green-button {
  background-image: linear-gradient(#36a420, #25842d);
  &:hover {
    background-image: linear-gradient(#188a1e, #1c6622);
  }
}

.disabled-button {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: rgb(232, 229, 229);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: rgb(220, 220, 220);
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
