@import "../images.scss";
$bg-color: grey;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  height: 100vh;
  background-image: url("../assets/images/" + $background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .bg-overlay {
    animation: fadeInOut 0.8s infinite alternate;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  @keyframes fadeInOut {
    from {
      opacity: 0.2;
    }
  }
}

.sidebar-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: fixed;
  left: 0;
  z-index: 1;
  height: 100vh;
  // align-items: left;
  width: 20vw;
  gap: 1rem;
  padding-left: 1rem;
  .sidebar-button {
    // font-weight: bold;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    // align-items: left;
    text-align: left;
    // text-decoration: none;
    border-radius: 5px 0 0 5px;
    color: aliceblue;
    transition: 0.3s;
    &:hover {
      background-color: #f8f8f8;
      color: black;
      // text-decoration-color: grey;
    }
  }
}

@mixin my-button {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: rgb(232, 229, 229);
  background-image: linear-gradient(#1a4870, #16344e);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  min-width: 16vw;
  &:hover {
    // box-shadow: 0px 3px 1px -5px rgba(0, 0, 0, 0.5),
    //   0px 5px 5px -10px rgba(0, 0, 0, 0.14), 0px 3px 7px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-image: linear-gradient(#194061, #0f202e);
    cursor: hand;
  }
}

.my-text {
  font-family: sans-serif;
  font-weight: 500;
}

.my-text-header {
  font-family: "Oswald", sans-serif;
}

.user-card {
  padding: 1rem;
  height: 30vh;
  width: 11.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(
    rgba(26, 72, 112, 0.9),
    rgba(22, 52, 78, 1)
  );
  border-radius: 10px;
  color: rgb(240, 240, 240);
  transition: 0.5s;
  img {
    width: 100%;
  }
  h5 {
    font-size: 1.1rem;
  }
  &:hover {
    background-image: linear-gradient(#194061, #0f202e);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -1rem;
    color: #fff;
  }
}
.hbox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.vbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tution-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  padding: 1.5rem;
  // padding-bottom: 0;
  background-image: linear-gradient(
    rgba(26, 72, 112, 0.9),
    rgba(22, 52, 78, 1)
  );
  border-radius: 10px;
  color: rgb(240, 240, 240);
  transition: 0.5s;
  h6 {
    font-size: 1.1rem;
  }
  .hbox {
    gap: 2rem;
  }
  .apply-button {
    @include my-button;
    font-size: 1.5rem;
    color: rgba(22, 52, 78, 1);
    background-image: linear-gradient(
      rgba(242, 249, 255, 0.9),
      rgb(201, 222, 242)
    );
    &:hover {
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgb(228, 239, 250)
      );
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      // margin-top: -1rem;
      color: rgb(13, 32, 49);
    }
  }
  // &:hover {
  //   background-image: linear-gradient(#194061, #0f202e);
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  //   // margin-top: -1rem;
  //   color: #fff;
  // }
}
