@import "./layout.scss";
.student-panel {
  display: flex;
  padding: 2rem;
  width: $sidebar-width;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
  // padding: auto;
  .tution-offer {
    .vbox {
      gap: 0.2rem;
    }
  }
  .accept-button {
    @include my-button;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    width: 100%;
  }
  .reject-button {
    @include my-button;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    width: 100%;
    background-image: linear-gradient(#701a1a, #4e1616);
    &:hover {
      background-image: linear-gradient(#611919, #2e0f0f);
    }
  }
}
