@import "./components.scss";
.student-profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  // align-items: center;
  img {
    margin: auto;
  }
  h3 {
    @include flexCenter;
  }
  .banner-details {
    // margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .vbox {
    gap: 0.2rem;
  }
  .hbox {
    justify-content: space-between;
  }
  .about-details {
    padding-bottom: 0.2rem;
    // min-height: 16vh;
    max-height: 21vh;
    overflow: auto;
    margin-bottom: 0;
    font-size: 0.9 rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
  }
}
