@import "./layout.scss";
.tutor-panel {
  display: flex;
  padding: 2rem;
  width: $sidebar-width;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
  .offer-form {
    width: 100%;
    .input-fields {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      width: 100%;
    }
  }
  .offer-button,
  .cancel-button {
    @include my-button;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(232, 229, 229);
    background-color: #164a4e;
    width: 100%;
  }

  .cancel-button {
    background-image: linear-gradient(#701a1a, #4e1616);
    &:hover {
      background-image: linear-gradient(#611919, #2e0f0f);
    }
  }
}
