@import "./components.scss";
.tutor-profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  // align-items: center;
  img {
    margin: auto;
  }
  h3 {
    @include flexCenter;
  }
  .banner-details {
    // margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
  }
  .vbox {
    gap: 0.2rem;
  }
  .hbox {
    justify-content: space-between;
  }
}
