.sidebar-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  z-index: 1;
  height: 100vh;
  // align-items: left;
  width: 20vw;
  gap: 1rem;
  padding-left: 1rem;
  .sidebar-button {
    // font-weight: bold;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    // align-items: left;
    text-align: left;
    // text-decoration: none;
    border-radius: 5px 0 0 5px;
    color: aliceblue;
    transition: 0.3s;
    &:hover {
      background-color: #f8f8f8;
      color: black;
      // text-decoration-color: grey;
    }
  }
}
