.signUpContainer {
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/home-background.jpg");
  background-size: cover;
  width: 100vw;
}
